body{
    background-color: grey;
   /* font-family: 'Fira Sans', sans-serif; */
   /* font-family: 'Noto Sans Tai Viet', sans-serif; */
   /* font-family: 'Nunito', sans-serif; */
   font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 48px;
}
p{
    font-size: 24px;
}
ul{
    display: flex;
    justify-content:space-between;
    /* text-align: center; */
    margin-left: 100px;
    margin-right: 150px;
    list-style-type: none;
}
nav{
    margin-bottom: 150px;
}
button{
    font-size: 16px;
    padding: 5px;
    width: 70px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    margin-left: 3px;
}
input{
    margin-bottom: 120px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    /* outline: none; */
    font-weight: 600;
    /* border: none; */
    font-size: 1cqi;
    color: white;
}
.input-box{
    position: relative;
}
label{
    position: absolute;
    left: 370px;
    top: 19px;
    pointer-events: none;
    font-size: 20px;
}
input:focus~label
input:valid~label{
    top: -10px;
    font-size: 15px;
}
.btn-input{
    width: 200px;
    height: 56px;
    line-height: 10px;
    font-weight: 900;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background-color: red;
    padding: 10px;
    border: none;
}
section{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: black;
    color: white;
}
/* ********SECTION A ********/
.section-A{
    background-image: url(/images/background.jpg);
    /* backdrop-filter: blur(10px); */
    /* opacity: 0.1;
    background-color: black;
    filter: brightness(0.35); */
    
}
.page-A{
    text-align: center;
}
.paragraph-a{

}
/* ********SECTION B ********/
.page-B{
    display: flex;
    justify-content: space-between ;
    margin-left: 150px;
    margin-right: 150px;
}
.text-left-B{
    margin-top: 120px;
    margin-bottom: 120px;
    width: 45%;
}
.paragraph-b{
    
}
.img-b{
    margin-top: 70px;
    width: 500px;
}
/* ********SECTION C ********/
.page-C{
    display: flex;
    justify-content: space-between ;
    margin-left: 150px;
    margin-right: 150px;
}
.text-right-C{
    margin-top: 70px;
    margin-bottom: 120px;
    width: 51%;
}
.paragraph-c{
    
}
.img-c{
    margin-top: 30px;
    width: 500px;
}
/* ********SECTION D ********/
.page-D{
    display: flex;
    justify-content: space-between ;
    margin-left: 150px;
    margin-right: 150px;
}
.text-left-D{
    margin-top: 50px;
    margin-bottom: 80px;
    width: 35%;
}
.paragraph-d{

}
/* ********SECTION E ********/
.page-E{
    display: flex;
    justify-content: space-between ;
    margin-left: 150px;
    margin-right: 150px;
}
.text-left-E{
    margin-top: 110px;
    margin-bottom: 130px;
    width: 59%;
}
.paragraph-e{

}
.img-e{
    margin-top: 90px;
    width: 600px;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-left: 150px;
    margin-right: 150px;

}
.table-accordion{
    display: flex;
    justify-content: center;
}
/* ACCORDION */
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion-btn{
    background-color: #ccc;
}
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.content-below-accordion{
    display: flex;
    justify-content: center;
}
.email-below{
    display: flex;
    justify-content: center;
}

